.dmHeaderContainer, .dmFooterContainer, .hamburger-header-container, .layout-drawer-hamburger, .dmBackToTop  {
    display: none;
}
.dmRespRowsWrapper,.dmContent,#dmStyle_innerContainer{
    background-color: #e9ecef !important;
}
.dmRespColsWrapper{
    max-width: unset !important;
}
.btn-custom-color{
    color: white !important;
    background-color:rgba(0,151,76,0.875) !important
}
.btn-custom-color:hover{
    background-color:rgba(0,92,46,0.875) !important
}
.dmRespRow{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.dmRespCol{
    width:100vw !important;
}
.u_1049272698 input{
    width:100% !important;
    border-radius: 5px;
    border: none !important;
}
.u_1049272698 textarea{
    width:100% !important;
    border-radius: 5px;
    border: none !important;
    height: 245px !important;
}
.dmforminput{
    width:100% !important;
   
}
.spacing-container{
    display: flex;
    flex-direction: column;
    width: 100% !important;
}
.dmform-wrapper form{
    display: flex !important;
    flex-direction: column !important; 
    justify-content: flex-end !important; /* Aligns items vertically to the bottom */
    align-items: flex-end !important; /* Aligns items horizontally to the right */

}
.dmformsubmit{
    background-color: #00a14b;
    border: none;
    min-width: 175px !important;
    margin: 15px 0px !important; 
    display: flex !important;
    justify-content: flex-end !important;
    -webkit-float: right;
   
}
.dmformsubmit input{
    color: white !important;
}
.dmStandardMobile .site_content{
    margin-top: 0px !important;
}
