.dmHeaderContainer, .dmFooterContainer, .hamburger-header-container, .layout-drawer-hamburger, .dmBackToTop  {
    display: none;
}
.dmRespRowsWrapper,.dmContent,#dmStyle_innerContainer{
    background-color: #e9ecef !important;
}
.dmRespColsWrapper{
    max-width: unset !important;
}
.btn-custom-color{
    color: white !important;
    background-color:rgba(0,151,76,0.875) !important
}
.btn-custom-color:hover{
    background-color:rgba(0,92,46,0.875) !important
}
.dmRespRow{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.dmRespCol{
    width:100vw !important;
}
.u_1049272698 input{
    width:100% !important;
    border-radius: 5px;
    border: none !important;
}
.u_1049272698 textarea{
    width:100% !important;
    border-radius: 5px;
    border: none !important;
    height: 245px !important;
}
.dmforminput{
    width:100% !important;
}
.spacing-container{
    display: flex;
    flex-direction: column;
}
.dmformsubmit{
    background-color: #00a14b;
    border: none;
    min-width: 200px !important;
    margin: 15px !important; 
}
.dmformsubmit input{
    color: white !important;
}
.dmStandardMobile .site_content{
    margin-top: 0px !important;
}
